@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins:wght@100;200;300;400&display=swap');

a {
  color: #f97316;
}

a:hover {
  color: #fdba74;
}

body {
  background: #fffef9;
}

/* NAVBAR */

.navbar-default {
  display: flex;
  background-color: #fbbf24;
  max-width: auto;
  border-radius: 100px;
  margin: 25px;
}

.navbar-brand {
  display: none;
}

/* MAIN PAGE */

.mainpage-content .text-highlight {

  padding: 0px 16px !important;
  font-size: 64px !important;
  padding-bottom: 32px;
  padding-top: 150px;
  color: #fbbf24;
  font-weight: 600;
  font-family: 'Belanosima', Sans-Serif !important;
}

.img-logo {
  margin-top: 120px;
  margin-bottom: 15px;
}

.mainpage-content {

  color: black;

  height: 650px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainpage-content ul {
  list-style-type: none;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 60px;
}

.mainpage-content li {

  font-size: 20px !important;
  text-align: justify;
  padding: 0 !important;
  margin-bottom: 30px !important;
  font-weight: 300;
  font-family: 'Poppins', Sans-Serif !important;


}

/* ANALYSIS PAGE */

/* INPUT FORM */
[title="Upload a dataset"] > div.form-group.shiny-input-container {
  padding: 10px;
  width: auto;
  margin-right: 300px;
  margin-left: 450px;
}

.btn-default:hover {
  background-color: #fb923c !important;
  color: #f8fafc !important;
}

/* MISC ELEMENTS */

/* BARS */
.irs--shiny .irs-bar {
  border-top: #fb923c;
  border-bottom: #fb923c;
  background: #fb923c;
}

.irs-single, .irs-from, .irs-to {
  background-color: #f97316 !important;
  color: #f8fafc !important;
}

.tab-content > .tab-pane .active {
  background-color: #f8fafc !important;
}

/* Notification box */

#shiny-notification-panel {
    position: fixed;
    bottom: 50%;
    right: 50%;
    width: 300px;
    height: 300px;
}
